<!--  наследуемся от шаблона default.html -->
{% extends 'flatpages/default.html' %} 
 
<!--   не забываем заранее загружать наши фильтры! -->

<!-- Название NEWS -->
{% block title %}
    Задание модуля D4
{% endblock title %}

{% block content %}
    <div style="text-align: left; margin-left: auto;">    
        <br>
        <h3>Задание:</h3>
        <hr>
        <h5>По итогу работы в модуле вы должны были усовершенствовать ваше новостное приложение:</h5>
        <ol>
            <li>В категории должна быть возможность пользователей подписываться на рассылку новых статей в этой категории.</li>
            <li>Если пользователь подписан на какую-либо категорию, то, как только в неё добавляется новая статья, её краткое содержание приходит пользователю на электронную почту, которую он указал при регистрации. В письме обязательно должна быть гиперссылка на саму статью, чтобы он мог по клику перейти и прочитать её.</li>
            <li>Если пользователь подписан на какую-либо категорию, то каждую неделю ему приходит на почту список новых статей, появившийся за неделю с гиперссылкой на них, чтобы пользователь мог перейти и прочесть любую из статей.</li>
            <li>Добавьте приветственное письмо пользователю при регистрации в приложении.</li>
        </ol>      
        <hr>    
    </div>
{% endblock content %}